*.o
*.a
*.Po
*.swp
*.aux
*.log
Makefile
Makefile.in
.DS_Store
._.DS_Store
._.TemporaryItems
aclocal.m4
autom4te.cache/
configure
compile
config.log
config.status
config.h.in
config.h
depcomp
missing
install-sh
stamp-h1
src/altai
release/
experiments/
bin/
.vscode/
.history/
.idea
INSTALL


# tmp
scripts/altai_fasta_extract.py
scripts/altai_gvf_merge.py
scripts/altai_vcf_clean.py
scripts/altai_IO_helper.py
scripts/util/
scripts/altai_vcf_parse.py
test*
scripts/tmp.py
