*.o
*.a
*.Po
*.swp
*.aux
*.log
Makefile
Makefile.in
.DS_Store
._.DS_Store
._.TemporaryItems
aclocal.m4
autom4te.cache/
configure
compile
config.log
config.status
config.h.in
missing
stamp-h1
src/altai
release/
experiments/
bin/
INSTALL
