*.tex
*.o
*.a
*.Po
*.swp
*.aux
*.log
.deps
Makefile
Makefile.in
.DS_Store
._.DS_Store
._.TemporaryItems
aclocal.m4
autom4te.cache/
configure
configure~
compile
config.log
config.status
config.h.in
/config.h
example
depcomp
missing
install-sh
stamp-h1
src/altai
release/
experiments/
bin/
.vscode/
.history/
.idea/
INSTALL
log/
test*


#tmp files
ex/
RELEASE
test/
.history
configure~
.vscode/
gene.*.tex
*.dot